<a href="https://colab.research.google.com/github/Prathambiradr12345/Machine-_learning/blob/main/Question_No_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Load the Titanic dataset

titanic_df = pd.read_csv('tested.csv')

# View initial columns
print("Columns:", titanic_df.columns)

# Define the custom transformation function for normalizing fare within each group
def normalize_fare(group):
    group['Normalized_Fare'] = (group['Fare'] - group['Fare'].mean()) / group['Fare'].std()
    return group

# Apply the function to each group in 'Pclass'
titanic_df = titanic_df.groupby('Pclass').apply(normalize_fare)

# Display the first few rows to verify the transformation
titanic_df[['Pclass', 'Fare', 'Normalized_Fare']].head()

Columns: Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

<ipython-input-2-b0e6b1d1e879>:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  titanic_df = titanic_df.groupby('Pclass').apply(normalize_fare)

           Pclass     Fare  Normalized_Fare
Pclass
1      11       1  26.0000        -0.808665
       12       1  82.2667        -0.142281
       14       1  61.1750        -0.392076
       20       1  59.4000        -0.413098
       22       1  31.6833        -0.741356